logs
gitlab-secrets.json  
initial_root_password  
ssh_host_ecdsa_key.pub  
ssh_host_ed25519_key.pub  
ssh_host_rsa_key.pub
ssh_host_ecdsa_key     
ssh_host_ed25519_key    
ssh_host_rsa_key          
trusted-certs
